{% extends 'index.html' %}
{% load static %}
{% block title %}{{class_name}}情報一覧{% endblock %}

{% block head_extend %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}
<div class="bg_blue">
    <a href="{% url 'app:index' %}"><button id="back-btn">戻る</button></a>
    <h1 class="name_title">{{class_name}}</h1>
    <hr>
</div>
<a href="{% url 'app:upload' %}"><button class="fs10">うｐ</button></a>
<br>
<input id="search-input" type="text" placeholder="">
<button onclick="search()" class="fs10">検索</button>
<form action="{% url 'app:delete' %}" method="post">
    <input type="submit" value="削除">
    {% for information in informations reversed %}
        <div class="border-1">
        <h2 class="information-title" id="title_{{ forloop.counter }}">{{ information.title }}</h2>
        {% if information.picture1 %}
        <img src='{{ MEDIA_URL }}{{information.picture1}}' width=200>
        {% endif %}
        {% if information.picture2 %}
        <img src='{{ MEDIA_URL }}{{information.picture2}}' width=200>
        {% endif %}
        {% if information.picture3 %}
        <img src='{{ MEDIA_URL }}{{information.picture3}}' width=200>
        {% endif %}
        {% if information.picture4 %}
        <img src='{{ MEDIA_URL }}{{information.picture4}}' width=200>
        {% endif %}
        {% if information.picture5 %}
        <img src='{{ MEDIA_URL }}{{information.picture5}}' width=200>
        {% endif %}
        {% if information.comment  %}
        <p>{{ information.comment }}</p>
        {% endif %}
        <input type="checkbox" name="delete_id" value="{{information.id}}">
        </div>
    {% endfor %}
    {% csrf_token %}
</form>
<script type="text/javascript" src="{% static 'information.js' %}"></script>
{% endblock %}