{% extends 'index.html' %}
{% load static %}
{% block title %}時間割{% endblock %}

{% block head_extend %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}
<div class="main">
    <table border="1" class="class_table">
        <tr class="per5_hei day">
            <td></td>
            <td>月</td>
            <td>火</td>
            <td>水</td>
            <td>木</td>
            <td>金</td>
        </tr>
        {% for classlist in classlists %}
        <tr class="class_tr">
            <td>{{ forloop.counter }}</td>
            {% for myclass in classlist %}
            <td class="class_td">
                {% if myclass.name %}
                <input type="hidden" form="class-form_{{myclass.name}}" name="class_name" value="{{myclass.name}}"></input>
                <input type="submit" form="class-form_{{myclass.name}}" name="{{myclass.name}}" id="{{myclass.name}}_id" class="class_button_1">
                <label for="{{myclass.name}}_id">
                    <div class="one_class">
                        <p>{{myclass.name}}</p>
                        <p>{{ myclass.place }}</p>
                    </div>
                </label>
                <form id="class-form_{{myclass.name}}" action="{% url 'app:information' %}"　name="{{myclass.name}}" method="POST">{% csrf_token %}</form>
                {% endif %}
            </td>
            </td>
            </label>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <div class="config">
        <div class="config_item">
            <a href="{% url 'app:register_class' %}" class="configbutton">授業作成</a>
        </div>
        <div class="config_item">
            <a href="{% url 'app:change_class' %}" class="configbutton">授業変更</a>
        </div>
        <div class="config_item">
            <a href="{% url 'app:trace' %}" class="configbutton">トレース</a>
        </div>
        <div class="config_item">
            <a href="" class="configbutton">設定</a>
        </div>
    </div>
</div>
{% endblock %}
