{% extends 'index.html' %}
{% load static %}
{% block title %}アップロード{% endblock %}

{% block head_extend %}
<link rel="stylesheet" href="{% static 'index.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="{% static 'index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="bg_blue">
<h1 class="name_title">{{class_name}}</h1>
<hr>
</div>
<form enctype="multipart/form-data" action="{% url 'app:upload' %}?class_name={{class_name}}" method="post">
    {% csrf_token %}
    <div class="mg30 form_title">
        タイトル : {{form.title}}
    </div>
    <div class="mg30 form_comment">
        コメント : {{form.comment}}
    </div>
    <div class="mg30 form_picture">
        画像 : {{form.picture}}
    </div>
    <div class="mg30 form_upload">
        <input type="submit" value="Upload" class="upload_button_1">
    </div>
</form>
<div class="back">
    <a href="{% url 'app:information' %}" value="戻る" class="back_button_1">戻る</a>
</div>
{% endblock %}