{% extends 'index.html' %}
{% load static %}
{% block title %}アップロード{% endblock %}

{% block head_extend %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}
<div class="bg_blue">
<h1 class="name_title">{{class_name}}</h1>
<hr>
</div>
<form enctype="multipart/form-data" action="{% url 'app:upload' %}?class_name={{class_name}}" method="post">
    {% csrf_token %}
    <div class="mg30 form_title">
        タイトル : {{form.title}}
    </div>
    <div class="mg30 form_comment">
        コメント : {{form.comment}}
    </div>
    <div class="mg30 form_picture">
        画像 : 
        <label for="id_pictures" id="pictures_label">
            <text>ファイルを選択してください(切実)</text>
            {{form.pictures}}
        </label>
    </div>
    <div id="file-preview">
    </div>
    <div class="mg30 form_upload">
        <input type="submit" value="Upload" class="upload_button_1">
    </div>
</form>
<div class="back">
    <a href="{% url 'app:information' %}" value="戻る" class="back_button_1">戻る</a>
</div>
<script>
document.getElementById('id_pictures').onchange = function(){
    // 1枚だけ表示する
    console.log("テスト1");
    var len = document.getElementById('id_pictures').files.length;
    for (var i=0; i<len; i++){
        var file = document.getElementById('id_pictures').files[i];
        // ファイルのブラウザ上でのURLを取得する
        var blobUrl = window.URL.createObjectURL(file);
        // img要素に表示
        var img = new Image();
        img.src = blobUrl;
        img.width = "30%"
        document.getElementById('file-preview').append(img);
    }
};
</script>
{% endblock %}
