{% extends 'index.html' %}
{% load static %}
{% block title %}ログイン{% endblock %}

{% block head_extend %}
<link rel="stylesheet" href="{% static 'index.css' %}">
<script src="{% static 'index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="auth_header">
    <h1 class="login_h1">ログインしてね！！</h1>
    <hr>
</div>
<div class="main_form">
    <div id="form">
        <form id="form_login" action="{% url 'auth:login' %}" method='post'>
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="mbt20">
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <p class="submit"><input id="submit_button" type="submit" value="ログイン" /></p>
            <input type="hidden" name="next" value="{{ next }}" />
            {% csrf_token %}
            <!--
            <p class="loginid"><input type="text" name="loginid" autocomplete="OFF" placeholder="Login ID"/></p>
            <p class="password"><input type="password" name="password" autocomplete="OFF" placeholder="password"></p>
            <p class="submit"><input id="submit_button" type="submit" value="ログイン" /></p>
            -->
        </form>
    </div>
    <div class="to_register">
        <a href="{% url 'auth:register' %}">登録ページ</a>
    </div>
</div>
{% endblock %}
